@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
    .logo {
      padding: 0;
      padding-top: 10px;
    }
    ul {
      padding: 0;
      flex-direction: column;
    }

    li {
      text-align: center;
      padding-bottom: 10px;
    }
    li:last-child {
      padding-bottom: 0px;
    }
  }
}
